<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <center>
    <img src='http://timesheet.apoyar.eu/assets/apoyar-aa57e221fa99c9beb110d2ea8f99db589fc80aa194b6aeb72ad9308438dca244.png' width='400'><br><br>
    <h2>
    You have been invited to timesheet.apoyar.eu<br><br>
    </h2>
    <h3>
    Your handle is: <b><%=@user.handle%></b><br><br>
    Your new password is: <b><%=@password%></b><br><br>
    </h3>
    <p>
    Please make sure to change your password once you log-in
    </p>
    </center>
  </body>
</html>